

<div class="col s12 m12 l12">
  <div class="row">
    <div class="col s3 m3 l3 profile-pic-center">
      <div class="pic-border-lg">
      <img class="responsive-img circle profile-pic-lg" src="<%= user.pic %>"></div>
    </div>
    <div class="col s9 m9 l9">
      <div class="row">
        <div class="col s10 m10 l10">
          <h3><%= link_to "@#{user.handle}", user_path(user.id), class:"handle-name link-color" %></h3>
          <h6 class="link-color pad-left">Follows: <%= user.following_count %> | Followers: <%= user.followers_count %></h6>

        </div>

        <div class="col s2 m2 l2">
          <h3 class="chattr-logo"> <i class="fa fa-comment" aria-hidden="true"></i>
            <%= user.thoughts_count %></h3>
        </div>
      </div>
      <div class="row">
        <div class="col s10 m10 l10">
          <p class="pad-left link-color bio-info"> <%= user.bio %> </p>
        </div>
        <div class="col s2 m2 l2">
          <% unless current_user == (@user) %>
            <div id="follow_form">
            <% if current_user.following?(@user) %>
              <%= form_for(current_user.active_relationships.find_by(followed_id: @user.id),
                           html: { method: :delete }) do |f| %>
                <%= f.submit "Unfollow", class: "btn btn-color" %>
              <% end %>
            <% else %>
              <%= form_for(current_user.active_relationships.build) do |f| %>
                <div><%= hidden_field_tag :followed_id, @user.id %></div>
                <%= f.submit "Follow", class: "btn" %>
              <% end %>

            <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
