<h3 class="container-header"> Welcome! </h3>


<div class="container">
  <%= form_for(@user, class:"form-group") do |f| %>
    <div class="row">
      <%= f.label :handle%>
    </div>
    <div class="row">
      <%= f.text_field :handle, class:"user-form", autofocus: true%>
    </div>
    <div class="row">
      <%= f.label :email %>
    </div>
    <div class="row">
      <%= f.email_field :email, class:"user-form" %>
    </div>
    <div class="row">
      <%= f.label :password %>
    </div>
    <div class="row">
      <%= f.password_field :password, class:"user-form" %>
    </div>
    <div class="row">
      <%= f.label :password_confirmation %>
    </div>
    <div class="row">
      <%= f.password_field :password_confirmation, class:"user-form" %>
    </div>
    <div class="row">
      <%= f.submit "Sign Up", class: "btn btn-color" %>
    </div>
  <% end %>
</div>
