<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<div class="container">
  <%= form_for(@user, class:"form-group") do |f| %>
    <div class="row">
      <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
      <%= f.label :handle%>
    </div>
    <div class="row">
      <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
      <%= f.text_field :handle, class:"user-form"%>
    </div>
    <div class="row">
      <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
      <%= f.label :email %>
    </div>
    <div class="row">
      <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
      <%= f.email_field :email, class:"user-form" %>
    </div>
    <div class="row">
      <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
      <%= f.label :password %>
    </div>
    <div class="row">
      <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
      <%= f.password_field :password, class:"user-form" %>
    </div>
    <div class="row">
      <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
      <%= f.label :password_confirmation %>
    </div>
    <div class="row">
      <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
      <%= f.password_field :password_confirmation, class:"user-form" %>
    </div>
    <div class="row">
      <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
      <%= f.submit "Sign Up", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
