<%= render partial: 'userboxprofile', locals: {user: @user} %>
<% if (signed_in? && params[:id].to_i == current_user.id) || current_user.admin %>
  <div class="btn btn-color right", id="show-form"> Edit Profile </div>

  <div id="form-container" class="container hidden-form">
    <%= form_for(@user, class:"form-group", remote: true) do |f| %>
      <div class="row">
        <%= f.label :handle%>
      </div>
      <div class="row">
        <%= f.text_field :handle, class:"user-form", autofocus: true%>
      </div>
      <div class="row">
        <%= f.label :bio %>
      </div>
      <div class="row">
        <%= f.text_field :bio, class:"user-form" %>
      </div>
      <div class="row">
        <%= f.label :email %>
      </div>
      <div class="row">
        <%= f.email_field :email, class:"user-form" %>
      </div>
      <div class="row">
        <%= f.label :pic %>
      </div>
      <div class="row">
        <%= f.url_field :pic, class:"user-form" %>
      </div>
      <div class="row">
        <%= f.submit "Save Changes", class: "btn btn-color", id: "hide-form" %>
      </div>
    <% end %>
  </div>

<% end %>



<div class="row">
  <div class="col s12 m12 l12 top-thoughts-container" id="thoughts-container">
      <h3 class="container-header"> Now </h3>
    <% @thoughts.each do |thought| %>
      <%= render partial: 'thoughts/thoughtbox',
          locals: { thought: thought } %>
    <% end %>
  </div>
</div>
