<h1>$<%= @user.handle %></h1>
<% if (signed_in? && params[:id].to_i == current_user.id) || current_user.admin %>
  <div class="btn btn-color right", id="show-form"> Edit Profile </div>

  <div id="form-container" class="container hidden-form">
    <%= form_for(@user, class:"form-group", remote: true) do |f| %>
      <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
        <%= f.label :handle%>
      </div>
      <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
        <%= f.text_field :handle, class:"user-form", autofocus: true%>
      </div>
      <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
        <%= f.label :bio %>
      </div>
      <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
        <%= f.text_field :bio, class:"user-form" %>
      </div>
      <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
        <%= f.label :email %>
      </div>
      <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
        <%= f.email_field :email, class:"user-form" %>
      </div>
      <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
        <%= f.label :pic %>
      </div>
      <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
        <%= f.url_field :pic, class:"user-form" %>
      </div>
      <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
        <%= f.submit "Save Changes", class: "btn btn-color", id: "hide-form" %>
      </div>
    <% end %>
  </div>

<% end %>



<div class="row" id="thoughts-container">
  <h3> Now </h3>
<% @thoughts.each do |thought| %>
  <%= render partial: 'thoughts/thoughtbox',
      locals: { thought: thought } %>
<% end %>
</div>
