

<div class="col s12 m12 l12 bottom-border">
  <div class="row no-margin">
    <div class="col s6 m4 l4">
        <div class="row no-margin">
          <div class="col s2 m2 l2 profile-pic-center">
            <div class="pic-border">
            <img class="responsive-img circle profile-pic" src="<%= thought.user_pic %>"></div>
          </div>
          <div class="col s7 m7 l7">
            <p><%= link_to "@#{thought.user_handle}", user_path(thought.user_id), class:"link-color" %></p>
          </div>
        </div>
    </div>

    <div class="right link-color pad-right">
      <p> <small><%= thought.time %> </small><br>
          <small>
          <%= link_to "Responses: #{thought.responses_count}", thought_path(thought.id), class:"link-color" %>
          <% if thought.parent_id %>
            <%= link_to " | Context", thought_path(thought.parent_id), class:"link-color"%>
          <% end %></small></p>
    </div>

  </div>
  <%= link_to thought_path(thought.id) do %>
    <div class="row no-margin">
      <div class="col s12 m12 l12">
        <p class="pad-left no-top-margin pad-bot link-color"> <%= thought.body %> </p>
      </div>
    </div>
  <% end %>
  <!-- <div class="row no-margin"> #This will be for replies
    <div class="col s12 m12 l12">
    </div> -->
</div>
